<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-list>
          <ion-item *ngFor="let item of users" detail>
            <ion-label>
              <p> <strong>Name:- {{item.name}}</strong> </p>
              <p> <strong>Email:- {{item.email}}</strong> </p>
              <p> <strong>Contact Number:- {{item.phoneNo}}</strong> </p>
            </ion-label>
            <ion-button color="success" *ngIf="item.isBlock" (click)="unblock(item)" expand="block" fill="clear">
              Unblock
            </ion-button>
            <ion-button color="danger" *ngIf="!item.isBlock" (click)="block(item)" expand="block" fill="clear">
              Block
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
